/* BODY
 * ========================================================================= */
body {
	background: #fff url(../images/bg-body.png) repeat-x top left;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.right {
	float: right;
}

/* LINKS
 * ========================================================================= */
a, a:link, a:visited {
	background: #ffd;
	border-bottom: 1px solid #cc6;
	color: #330;
	text-decoration: none;
}

a:active, a:hover {
	color: #000;
}

a[rel=lightbox] {
	background: inherit;
	border: none;
}

/* Special product links
 * ------------------------------------------------------------------------- */
a.to:hover, a.to:active {
	color: #000;
}

a.elevate, #footer a.elevate {
	background: #eef;
	border-bottom: .1em solid #79f;
	color: #1a43f3;
}

a.imagine, #footer a.imagine {
	background: #efe;
	border-bottom: .1em solid #7c1;
	color: #498312;
}

/* Delete button
 * ------------------------------------------------------------------------- */
.delete_button {
	display: inline;
}

.delete_button button {
	background: #ffd;
	border: none;
	border-bottom: 1px solid #cc6;
	color: #330;
	cursor: pointer;
	font-family: Helvetica, Arial, sans-serif;
	font-size: inherit;
	padding: 0;
}

.delete_button button:active, .delete_button button:hover {
	color: #000;
}

/* PAGE STRUCTURE
 * ========================================================================= */
.container {
	margin: 0 3em;
}

/* Auth
 * ------------------------------------------------------------------------- */
#auth {
	background: #444 url(../images/bg-auth.png) repeat-x bottom left;
	color: #fff;
	padding: .2em 0;
}

#auth ul {
	font-size: .8em;
	list-style: none;
	margin: 0;
	padding: 0;
}

#auth ul li {
	float: right;
	margin: 0 0 0 1.5em;
}

#auth a {
	background: inherit;
	border: none;
	color: #fff;
}

#auth a:hover, #auth a:active {
	text-decoration: underline;
}

/* Header
 * ------------------------------------------------------------------------- */
#header h1 {
	color: #444;
}

#header a {
	background: inherit;
	border: none;
	color: #498312;
	text-decoration: none;
}

#header #user {
	margin-top: .5em;
}

#header img.avatar {
	border: .1em solid #aaa;
	margin: -.4em .6em 0 0;
	padding: .1em;
}

/* Navigation
 * ------------------------------------------------------------------------- */
#nav {
	border-bottom: .25em solid #444;
	font-size: .8em;
	margin: 0 -1.5em;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav ul li {
	float: left;
	padding: .5em 1.5em .25em 1.5em;
}

#nav ul li.active, div#nav ul li.active:hover {
	background: #444;
	color: #fff;
}

#nav ul li.right {
	float: right;
}

#nav a, div#nav a:link, div#nav a:visited {
	background-color: inherit;
	border: none;
	color: #444;
}

#nav a:active, div#nav a:hover {
	color: #000;
}

#nav li.active a {
	color: #fff;
}

/* Footer
 * ------------------------------------------------------------------------- */
#footer {
	border-top: .25em solid #444;
	color: #777;
	font-size: .8em;
	margin: 3.5em -1.5em 0 -1.5em;
	padding: 0 1.5em 1em 1.5em;
	text-align: right;
}

div#footer a {
	background: transparent;
	border-bottom-color: #ccc;
	color: #777;
}

div#footer a:hover, div#footer a:active {
	color: #000;
}

/* ACTION LISTS
 * ========================================================================= */

/* Current
 * ------------------------------------------------------------------------- */
.actions ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Album
 * ------------------------------------------------------------------------- */
.actions li.album {
	float: left;
	margin: .5em;
	position: relative;
	text-align: center;
}

.actions li.album a.asset {
	background: inherit;
	border: 1px solid #fff;
	display: table-cell;
	height: 164px;
	line-height: 0;
	margin: 0;
	vertical-align: middle;
	width: 164px;
}

.actions li.album:hover a.asset {
	background: #ffd;
	border: 1px solid #cc6;
}

.actions li.album:hover img {
	border: none;
}

.actions li.album img {
	border: 1px solid #bbb;
	margin: 0;
	padding: 2px;
}

/* Completed
 * ------------------------------------------------------------------------- */
.completed {
	color: #777;
}

.completed a, .completed .delete_button button {
	background: #efefef;
	border-bottom-color: #ccc;
	color: #777;
}

.actions li.completed:hover a.asset {
	background: #efefef;
}

.completed .details {
	background: #efefef;
	border-color: #ccc;
	border-style: solid;
	border-width: 0 1px 1px 1px;
}

.completed a:active, 
.completed a:hover, 
.completed .delete_button button:hover,
.completed .delete_button button:active {
	color: #000;
}

/* Details
 * ------------------------------------------------------------------------- */
.details {
	background: #ffd;
	border-color: #cc6;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	display: none;
	font-size: .6em;
	overflow: hidden;
	padding: .8em 0 .8em 0;
	position: absolute;
	text-align: left;
	top: 163px;
	width: 164px;
	z-index: 100;
}

.details table {
	border-collapse: collapse;
	width: 100%;
}

.details tr th, .details tr td {
	padding-top: .3em;
	padding-bottom: .3em;
}

.details tr th {
	padding-left: .5em;
	padding-right: .2em;
	text-align: right;
	vertical-align: top;
}

.details tr td {
	padding-left: .2em;
	padding-right: .5em;
}

.details ul {
	margin: 0;
	padding: 0;
}

.details ul li {
	display: inline;
	margin: 0 .3em 0 0;
	padding: 0;
}

/* FORMS
 * ========================================================================= */
form dl dd {
	margin: 0;
}

form dl dt {
	margin-top: 1.5em;
}

form dl dd input, form dl dd textarea {
	padding: .3em;
}

form dl dd.major input {
	font-size: 1em;
}

form input.number {
	text-align: right;
}

form .hint {
	color: #555;
	font-size: .8em;
	font-style: italic;
}

/* Form Errors
 * ------------------------------------------------------------------------- */
.error {
	background: #fdd;
}

div.error {
	border: .1em solid #d88;
	margin: 0 -1em;
	padding: .75em 1em;
}

div.error h2 {
	font-size: .8em;
	font-weight: bold;
	line-height: 1.5;
	margin: 0;
}

div.error ul {
	font-size: .8em;
	margin: 0;
}