- title @album
- menu :albums

.actions
  %h2
    = @album
    %small== (#{link_to "edit", url(:edit_album, @album)})
  %ul= partial "assets/asset", :with => @album.assets
  %br{:style => "clear: both;"}