%dl
  %dt= label "File", "", :for => "asset_data"
  %dd.amjor= file_control :data

  %dt= label "Album", "", :for => "asset_album"
  %dd= select_control :album_id, :collection => Album.all(:order => [:title]), :text_method => :title, :value_method => :id, :include_blank => true, :selected => @asset.album_id